@media (min-width: 768px) {
    .app-header {
        padding: 0 20px;
    }

    .head .menu-button {
        display: block;
    }

    .info-item.added {
        display: inline;
    }

    .premier__item-watch.info {
        display: inline-flex;
    }

    .bottom-nav {
        display: none;
    }
}